<html>
    <header>
        <title>
            Game night 
        </title>
    </header>
    <body>
        <h1>
            The Operator and Strat you need to use with the points per kill
        </h1>
        <p>
            <div>
            Operator: {{ op.json()["operator"] }} 
            </div>
            <div>
            Strat: {{ st.json()["strat"] }} 
            </div>
            <div>
            Points per kill: {{ points.text }}
            </div>
        </p>
        <h2>
            The last five 5 Strats and Operators with their points per kill
        </h2>
        <p>
            {% for pick in last_picks %}
            <div>
            Operator: {{ pick.operator }} 
            </div>
            <div>
            Strat: {{ pick.strat }} 
            </div>
            <div>
            Points_per_kill: {{ pick.points_per_kill }}
            </div>
            <br>
            {% endfor %}
        </p>
    </body>
</html>