<html>
    <header>
        <title>
            Game night 
        </title>
    </header>
    <body>
        <h1>
            The Operator and Strat you need to use with the points per kill
        </h1>
        <p>
            Operator: {{ operator }} Strat: {{ strat }} Points per kill: {{ points per kill}}
        </p>
        <h2>
            The last five 5 Strats and Operators with their points per kill
        </h2>
        <p>
            {% for pick in last_picks %}
            Operator: {{ pick.operator }} Strat: {{ pick.strat }} Points_per_kill: {{ pick.points_per_kill }}
            <br>
            {% endfor %}
        </p>
    </body>
</html>